.box{
    color : red;
    background-color : grey;
    width: 20px;
    height: 20px;
    margin : 0px;
    padding: 0px;
    // display: inline-block;
    float: left;
    transition: 0.2s;
    &:hover{
        background-color: aqua;
        transform: scale(2);

    }
}